@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #fff;
        background-color: #000;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
    }
    .tags {
        background-color: rgb(229, 255, 0);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: hsl(0, 100%, 1%);
        font-size: 12px;
    }

    .tags:last-child {
        margin-right: 0;
    }

    .tags:nth-child(2) {
        background-color: rgb(255, 0, 98);
    }

    .tags:nth-child(3) {
        background-color: rgb(0, 255, 128);
    }

    .tags:nth-child(4) {
        background-color: rgb(133, 117, 224);
    }
}
